default:
    suites:
        native:
            contexts:
                - ParserFeatureContext:
                    - Fxmlrpc\Serialization\Parser\NativeParser
                - SerializerFeatureContext:
                    - Fxmlrpc\Serialization\Serializer\NativeSerializer
        sax:
            contexts:
                - ParserFeatureContext:
                    - Fxmlrpc\Serialization\Parser\XmlReaderParser
                - SerializerFeatureContext:
                    - Fxmlrpc\Serialization\Serializer\XmlWriterSerializer
        zend2:
            contexts:
                - ZendParserFeatureContext:
                    - Fxmlrpc\Serialization\Parser\ZendParser
                - ZendSerializerFeatureContext:
                    - Fxmlrpc\Serialization\Serializer\ZendSerializer
            filters:
                tags: "~@zend_incompatible"
